# Data Sourcing

## Imports

In [36]:
import os
import pandas as pd
import requests
from io import StringIO
import time

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.ui import WebDriverWait

## Web Scraping with Selenium

To conduct pattern analysis, the first thing to acquire is graphs that show patterns.

In order to do this, we will use Selenium to scrape the Atmatix website (www.atmatix.pl)

### Functions

def start_maximise(url):
    """Starts driver and maximises the window"""
    driver.get(url)
    driver.maximize_window()
    time.sleep(10)

def login():
    """Logs in using email and password"""
    wait = WebDriverWait(driver, 10)
    login_btn = wait.until(
        expected_conditions.visibility_of_element_located((By.XPATH, "//a[contains(text(), 'Log in')]")))
    login_btn.click()

    time.sleep(10)

    email_entry = wait.until(
        expected_conditions.visibility_of_element_located(
            (By.XPATH, "/html/body/div[2]/div/div[1]/div/div/div[2]/form/fieldset/div[1]/div/input")))
    email_entry.send_keys(**************)

    pass_entry = wait.until(
        expected_conditions.visibility_of_element_located(
            (By.XPATH, "/html/body/div[2]/div/div[1]/div/div/div[2]/form/fieldset/div[2]/div/input")))
    pass_entry.send_keys(***********)

    log_btn = wait.until(
        expected_conditions.visibility_of_element_located(
            (By.XPATH, "/html/body/div[2]/div/div[1]/div/div/div[2]/form/fieldset/div[4]/button")))
    log_btn.click()

    time.sleep(10)

def page_info():
    """Extracts all information from the tabular page"""
    page_table_rows = driver.find_elements(By.XPATH, "//table//tr")
    for row in page_table_rows:
        td_elements = row.find_elements(By.TAG_NAME, "td")
        if len(td_elements) >= 10:
            children_to_extract = [2, 3, 4, 6, 9]
            extracted_children = [td_elements[i].text for i in children_to_extract]
            info.append(extracted_children)

def next_page():
    """Navigates to the next page"""
    wait = WebDriverWait(driver, 10)
    next_page_btn = wait.until(
        expected_conditions.visibility_of_element_located((By.XPATH, "//a[contains(text(), 'Next')]")))
    driver.execute_script("arguments[0].scrollIntoView();", next_page_btn)
    next_page_btn.click()

URL = 'https://www.atmatix.pl/en/stats'
driver = webdriver.Chrome()

### Run scraping

info = []

start_maximise(URL)
login()
for num in range(377):
   page_info()
   next_page()
   time.sleep(5)

### Create a DataFrame from scraped data

columns = ['Company', 'Pattern', 'Width', 'End Date', 'Breakout Date']

data_to_add = []

for row in info:
    company = row[0]
    pattern = row[1]
    width = row[2]
    end_date = row[3]
    breakout_date = row[4]

    data_to_add.append({
        'Company': company,
        'Pattern': pattern,
        'Width': width,
        'End Date': end_date,
        'Breakout Date': breakout_date
    })

df = pd.DataFrame(data_to_add, columns=columns)

### Save DF

df.to_csv('data/patterns.csv', index=False)

## DataFrame

From this cell on, all work is complete in the Notebook

### Load Dataframe

In [46]:
df = pd.read_csv('data/patterns.csv')

### Inspecting Dataframe

In [47]:
display(f'The Database has {df.shape[0]} rows and {df.shape[1]} columns.')
display('==================================================================================================================')
display(f'The Database has the following columns: {list(df.columns)}')
display('==================================================================================================================')
display(f"The database is missing {df['Company'].isna().sum()} Company names. That is {((df['Company'].isna().sum() / df.shape[0]) * 100):.2f}%")
display('==================================================================================================================')
display(f"The database is missing {df['Pattern'].isna().sum()} Patterns. That is {((df['Pattern'].isna().sum() / df.shape[0]) * 100):.2f}%")
display('==================================================================================================================')
display(f"The database is missing {df['Width'].isna().sum()} Widths. That is {((df['Width'].isna().sum() / df.shape[0]) * 100):.2f}%")
display('==================================================================================================================')
display(f"The database is missing {df['Breakout Date'].isna().sum()} Breakout dates. That is {((df['Breakout Date'].isna().sum() / df.shape[0]) * 100):.2f}%")
display('==================================================================================================================')
display(f"The database is missing {df['End Date'].isna().sum()} End dates. That is {((df['End Date'].isna().sum() / df.shape[0]) * 100):.2f}%")

'The Database has 3770 rows and 5 columns.'

'=================================================================================================================='

"The Database has the following columns: ['Company', 'Pattern', 'Width', 'End Date', 'Breakout Date']"

'=================================================================================================================='

'The database is missing 0 Company names. That is 0.00%'

'=================================================================================================================='

'The database is missing 0 Patterns. That is 0.00%'

'=================================================================================================================='

'The database is missing 0 Widths. That is 0.00%'

'=================================================================================================================='

'The database is missing 2046 Breakout dates. That is 54.27%'

'=================================================================================================================='

'The database is missing 0 End dates. That is 0.00%'

### Adding a Ticker column

In [48]:
ticker_with_parentheses = df['Company'].str.extract(r'(?<=\()(\w+)(?=\))')
ticker_without_parentheses = df['Company'].str.extract(r'^(\w+)$')

df['Ticker'] = ticker_with_parentheses.fillna(ticker_without_parentheses)
df.head(3)

       Company          Pattern  Width   End Date Breakout Date Ticker
0  SANOK (SNK)          H&S top     58  8/15/2023           NaN    SNK
1  GETIN (GTN)  Vertical run up     13   8/3/2023           NaN    GTN
2  PEKAO (PEO)          H&S top     47  8/30/2023           NaN    PEO

### Add API Start Date and API End Date column

In [49]:
df['End Date'] = pd.to_datetime(df['End Date'])

df['API End Date'] = df.apply(lambda row: row['End Date'] + pd.DateOffset(days=row['Width'] * 3), axis=1)
df['API Start Date'] = df.apply(lambda row: row['End Date'] - pd.DateOffset(days=row['Width'] * 4), axis=1)


df.head(3)

,Company,Pattern,Width,End Date,Breakout Date,Ticker,API End Date,API Start Date
0,SANOK (SNK),H&S top,58,2023-08-15,NaN,SNK,2024-02-05,2022-12-26
1,GETIN (GTN),Vertical run up,13,2023-08-03,NaN,GTN,2023-09-11,2023-06-12
2,PEKAO (PEO),H&S top,47,2023-08-30,NaN,PEO,2024-01-18,2023-02-23

In [50]:
df['API End Date'] = pd.to_datetime(df['API End Date'])
df['API Start Date'] = pd.to_datetime(df['API Start Date'])

## Using EOD HD API to retrieve stock information

eod_api = '64ef583e9a7137.71172021'
eod_base = 'https://eodhistoricaldata.com/api/eod/'
exchange = 'WAR'

def time_to_string(date):
    return date.strftime('%Y-%m-%d')


for index, row in df.iterrows():
    symbol = row['Ticker']
    from_date = time_to_string(row['API Start Date'])
    to_date = time_to_string(row['API End Date'])

    url = f'{eod_base}{symbol}.{exchange}?'

    params = {
        'api_token': eod_api,
        'period': 'd',
        'from': from_date,
        'to': to_date
    }

    response = requests.get(url, params=params)

    if response.status_code == 200:
        csv_content = response.text

        sub_df = pd.read_csv(StringIO(csv_content))

        pattern = row['Pattern'].replace(" ", "_").lower()
        dataframe_name = f"{index}_{symbol}_{pattern}.csv"

        
        sub_df.to_csv(dataframe_name, index=False)
        print(f"Saved DataFrame '{dataframe_name}'")
    else:
        print(f"API request for index {index} was not successful.")

## Inspecting New Data

### Add 'Have data' column

In [51]:
folder_name = 'data/patterns'

for index, row in df.iterrows():
    ticker = row.Ticker
    id_num = index
    pattern = '_'.join(word.lower() for word in row.Pattern.split())
    
    f_name = f'{index}_{ticker}_{pattern}.csv'
    f_path = os.path.join(folder_name, f_name)
    
    if os.path.exists(f_path):
        df.at[index, 'Have data'] = True
    else:
        df.at[index, 'Have data'] = False
        
df.head(3)

,Company,Pattern,Width,End Date,Breakout Date,Ticker,API End Date,API Start Date,Have data
0,SANOK (SNK),H&S top,58,2023-08-15,NaN,SNK,2024-02-05,2022-12-26,True
1,GETIN (GTN),Vertical run up,13,2023-08-03,NaN,GTN,2023-09-11,2023-06-12,True
2,PEKAO (PEO),H&S top,47,2023-08-30,NaN,PEO,2024-01-18,2023-02-23,True

### Missing data

In [52]:
missing_data['Have data'].value_counts()

Have data
False    778
Name: count, dtype: int64

In [60]:
missing_data = df[df['Have data'] == False]
display(f'There are {missing_data.shape[0]} rows of missing data')
display(f'There are {df.shape[0] - missing_data.shape[0]} completed DataFrames.')
display(missing_data.head())
display(missing_data['Ticker'].value_counts())

'There are 778 rows of missing data'

'There are 2992 completed DataFrames.'

,Company,Pattern,Width,End Date,Breakout Date,Ticker,API End Date,API Start Date,Have data
12,WIG-CHEMIA,Double bottom,60,2023-08-28,NaN,NaN,2024-02-24,2022-12-31,False
24,WIG-NRCHOM,Double top,11,2023-08-02,NaN,NaN,2023-09-04,2023-06-19,False
29,WIG-ENERG,H&S top,10,2023-08-30,NaN,NaN,2023-09-29,2023-07-21,False
34,WIG30,Flag,25,2023-08-11,NaN,WIG30,2023-10-25,2023-05-03,False
44,WIG-POLAND,Flag,25,2023-08-11,NaN,NaN,2023-10-25,2023-05-03,False

Ticker
WIGDIV        42
MWIG40        39
SWIG80        38
WIGTECH       37
WIG30         36
WIG           36
WIG20         35
FW20          30
WIG20SHORT    29
Name: count, dtype: int64

eod_api = '64ef583e9a7137.71172021'
exchange_code = 'INDX'
exchange_base_url = f'https://eodhistoricaldata.com/api/exchange-symbol-list/{exchange_code}'

params_2 = {
    "api_token": eod_api
}

response = requests.get(exchange_base_url, params=params)
csv_content = response.text
exchange_df = pd.read_csv(StringIO(csv_content))

polish_i = exchange_df['Country'] == 'Poland'
polish_rows = exchange_df[polish_i]
polish_rows

eod_api = '64ef583e9a7137.71172021'
eod_base = 'https://eodhistoricaldata.com/api/eod/'
exchange = 'INDX'

def time_to_string(date):
    return date.strftime('%Y-%m-%d')


for index, row in df.iterrows():
    if row['Have data'] == False:
        symbol = row['Ticker']
        from_date = time_to_string(row['API Start Date'])
        to_date = time_to_string(row['API End Date'])

        url = f'{eod_base}{symbol}.{exchange}?'

        params = {
            'api_token': eod_api,
            'period': 'd',
            'from': from_date,
            'to': to_date
        }

        response = requests.get(url, params=params)

        if response.status_code == 200:
            csv_content = response.text

            sub_df = pd.read_csv(StringIO(csv_content))

            pattern = row['Pattern'].replace(" ", "_").lower()
            dataframe_name = f"{index}_{symbol}_{pattern}.csv"


            sub_df.to_csv(dataframe_name, index=False)
            print(f"Saved DataFrame '{dataframe_name}'")
        else:
            print(f"API request for index {index} was not successful.")

In [102]:
for index, row in df.iterrows():
    ticker = row.Ticker
    id_num = index
    pattern = '_'.join(word.lower() for word in row.Pattern.split())
    folder_name = f'data/patterns/{pattern}'
    
    f_name = f'{index}_{ticker}_{pattern}.csv'
    f_path = os.path.join(folder_name, f_name)
    
    if os.path.exists(f_path):
        df.at[index, 'Have data'] = True
    else:
        df.at[index, 'Have data'] = False
        
df.head(3)

,Company,Pattern,Width,End Date,Breakout Date,Ticker,API End Date,API Start Date,Have data
0,SANOK (SNK),H&S top,58,2023-08-15,NaN,SNK,2024-02-05,2022-12-26,True
1,GETIN (GTN),Vertical run up,13,2023-08-03,NaN,GTN,2023-09-11,2023-06-12,True
2,PEKAO (PEO),H&S top,47,2023-08-30,NaN,PEO,2024-01-18,2023-02-23,True

In [103]:
missing_data = df[df['Have data'] == False]
display(f'There are {missing_data.shape[0]} rows of missing data')
display(f'There are {df.shape[0] - missing_data.shape[0]} completed DataFrames.')
display(missing_data.head())
display(missing_data['Ticker'].value_counts())

'There are 631 rows of missing data'

'There are 3139 completed DataFrames.'

,Company,Pattern,Width,End Date,Breakout Date,Ticker,API End Date,API Start Date,Have data
12,WIG-CHEMIA,Double bottom,60,2023-08-28,NaN,NaN,2024-02-24,2022-12-31,False
24,WIG-NRCHOM,Double top,11,2023-08-02,NaN,NaN,2023-09-04,2023-06-19,False
29,WIG-ENERG,H&S top,10,2023-08-30,NaN,NaN,2023-09-29,2023-07-21,False
44,WIG-POLAND,Flag,25,2023-08-11,NaN,NaN,2023-10-25,2023-05-03,False
48,WIG-NRCHOM,Pennant,38,2023-08-22,NaN,NaN,2023-12-14,2023-03-23,False

Ticker
WIGDIV        42
MWIG40        39
WIG20         35
FW20          30
WIG20SHORT    29
Name: count, dtype: int64