In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy

In [90]:
def doji(df):
    return (10 * abs(df["open"] - df["close"]) <= df["high"] - df["low"])

In [86]:
def ochl(df):
    df = df.iloc[:,:5]
    df.columns = ["date", "open", "high", "low", "close"]
    return df["open"], df["close"], df["high"], df["low"]

In [84]:
df = yf.download("AAPL")

[*********************100%%**********************]  1 of 1 completed

In [89]:

ochl(df)

(0          0.128348
 1          0.122210
 2          0.113281
 3          0.115513
 4          0.118862
             ...
 10767    179.699997
 10768    184.940002
 10769    187.839996
 10770    189.490005
 10771    188.279999
 Name: open, Length: 10772, dtype: float64,
 0          0.128348
 1          0.121652
 2          0.112723
 3          0.115513
 4          0.118862
             ...
 10767    184.119995
 10768    187.649994
 10769    187.869995
 10770    189.460007
 10771    189.699997
 Name: close, Length: 10772, dtype: float64,
 0          0.128906
 1          0.122210
 2          0.113281
 3          0.116071
 4          0.119420
             ...
 10767    184.899994
 10768    187.850006
 10769    189.119995
 10770    189.919998
 10771    189.979996
 Name: high, Length: 10772, dtype: float64,
 0          0.128348
 1          0.121652
 2          0.112723
 3          0.115513
 4          0.118862
             ...
 10767    179.500000
 10768    184.740005
 10769    187.479996
 10770    188.279999
 10771    187.610001
 Name: low, Length: 10772, dtype: float64)

In [9]:
def dochl(df):
    df = df.iloc[:,:5]
    df.columns = ["date", "open", "high", "low", "close"]
    return df

In [10]:
def stoc1(df):
    O, C, H, L = ochl(df)
    return ((C-L)/(H-L))*100

In [108]:
def one_candle(df):
    df = dochl(df)
    df["stoc1"] = stoc1(df)
    df["O-C"] = min_av(df, 15, entr = "rest", func="mean")
    df["AVGH10"] = min_av(df, 10, entr = "H", func="mean")
    df["AVGL10"] = min_av(df, 10, entr = "L", func="mean")
    df["AVGH10.2"] = offset2(df["AVGH10"])
    df["AVGL10.2"] = offset2(df["AVGL10"])
    df["AVGL20"] = min_av(df, 20, entr = "L", func="mean")
    df["AVGH20"] = min_av(df, 20, entr = "H", func="mean")
    df["MINL10"] = min_av(df, 10, entr = "L", func="min")
    df["MINL5"] = min_av(df, 5, entr = "L", func="min")
    df["O-C"] = min_av(df, 15, entr = "rest", func="mean")
    df["h1"] = h1(df)
    df["l1"] = l1(df)
    df["o1"] = o1(df)
    df["c1"] = c1(df)
    df["o2"] = ochl2(df, p="O")
    df["h2"] = ochl2(df, p="H")
    df["l2"] = ochl2(df, p="L")
    df["c2"] = ochl2(df, p="C")
    df["o3"] = o3(df)
    df["c3"] = c3(df)
    
    
    df["doji"] = doji(df)
    df["o_marubozu"] = o_marubozu(df)
    df["gravestone"] = gravestone(df)
    df["dragonfly_doji"] = dragonfly_doji(df)
    df["hammer"] = hammer(df)
    df["c_marubozu"] = c_marubozu(df)
    df["bear_engulfing"] = bear_engulfing(df)
    df["bull_engulfing"] = bull_engulfing(df)
    df["tweezer_bottom"] = tweezer_bottom(df)
    df["tweezer_top"] = tweezer_top(df)
    df["morning_star"] = morning_star(df)
    df["evening_star"] = evening_star(df)
    df["three_inside_up"] = three_inside_up(df)
    df["three_inside_down"] = three_inside_down(df)
    df["three_black_crows"] = three_black_crows(df)
    df["three_white_soldiers"] = three_white_soldiers(df)
    return df

In [ ]:
git add one_candle.ipynb
   git commit -m"Finished with candle patterns"
   git push origin master

In [44]:
import yfinance as yf

data = yf.download("AAPL")

[*********************100%%**********************]  1 of 1 completed

In [91]:
stoc1(df)

0         0.000000
1         0.000000
2         0.000000
3         0.000000
4         0.000000
           ...
10767    85.555562
10768    93.568741
10769    23.780459
10770    71.951730
10771    88.185681
Length: 10772, dtype: float64

In [90]:
def ochl(df):
    df = df.iloc[:,:4]
    df = df.reset_index()
    df.columns = ["date", "open", "high", "low", "close"]
    return df["open"], df["close"], df["high"], df["low"]

In [64]:
def dochl(df):
    df = df.iloc[:,:4]
    df = df.reset_index()
    df.columns = ["date", "open", "high", "low", "close"]
    return df
dat = dochl(data)

In [66]:
df = dochl(df)
O, C, H, L = ochl(df)

In [68]:
O

0    2020-05-04
1    2020-05-05
2    2020-05-06
3    2020-05-07
4    2020-05-08
        ...
61   2020-07-30
62   2020-07-31
63   2020-08-03
64   2020-08-04
65   2020-08-05
Name: open, Length: 66, dtype: datetime64[ns]

In [63]:
df

,Open,High,Low,Close,Adj Close,Volume,stoc1
Date,,,,,,,
2020-05-04,72.292503,73.422501,71.580002,73.290001,71.665215,133568000,NaN
2020-05-05,73.764999,75.250000,73.614998,74.389999,72.740829,147751200,NaN
2020-05-06,75.114998,75.809998,74.717499,75.157501,73.491318,142333600,NaN
2020-05-07,75.805000,76.292503,75.492500,75.934998,74.251579,115215200,NaN
2020-05-08,76.410004,77.587502,76.072502,77.532501,76.018890,133838400,NaN
...,...,...,...,...,...,...,...
2020-07-30,94.187500,96.297501,93.767502,96.190002,94.312149,158130000,NaN
2020-07-31,102.885002,106.415001,100.824997,106.260002,104.185570,374336800,NaN
2020-08-03,108.199997,111.637497,107.892502,108.937500,106.810791,308151200,NaN
2020-08-04,109.132500,110.790001,108.387497,109.665001,107.524086,173071600,NaN
2020-08-05,109.377502,110.392502,108.897499,110.062500,107.913857,121776800,NaN

In [110]:
data = data.reset_index()

In [111]:
can = one_candle(data)

In [112]:
can[can["c_marubozu"]]["date"]

28      1981-01-23
104     1981-05-13
129     1981-06-18
252     1981-12-11
334     1982-04-12
           ...
9014    2016-09-09
9197    2017-06-02
9400    2018-03-23
9873    2020-02-10
10568   2022-11-10
Name: date, Length: 198, dtype: datetime64[ns]

In [28]:
def bear_engulfing(df):
    O, C, H, L = ochl(df)
    return (df["o1"] > df["c1"]) & (10 * (C - O) >= 7 * (H - L)) & (C > df["o1"])& (df["c1"] > O) & (10 * (H - L) >= 12 * (df["AVGH10"] - df["AVGL10"]))

In [31]:
def bull_engulfing(df):
    O, C, H, L = ochl(df)
    return (df["o1"] > df["c1"]) & (10 * (C - O) >= 7 * (H - L)) & (C > df["o1"]) & (df["c1"] > O) & (10 * (H - L) >= 12 * (df["AVGH10"] - df["AVGL10"]))

In [40]:
def tweezer_bottom(df):
    O, C, H, L = ochl(df)
    return (L == df["l1"]) & (5 * abs(C - O) < abs(df["c1"] - df["o1"])) & (10 * abs(df["c1"] - df["o1"]) >= 9 * (df["h1"] - df["l1"])) & (10 * (df["h1"] - df["l1"]) >= 13 * (df["AVGH20"] - df["AVGL20"]))

In [39]:
def tweezer_top(df):
    O, C, H, L = ochl(df)
    return (H == df["h1"]) & (abs(C - O) < .2 * abs(df["c1"] - df["o1"])) & (abs(df["c1"] - df["o1"]) >= .9 * (df["h1"] - df["l1"])) & (df["h1"] - df["l1"] >= 1.3 * (df["AVGH20"] - df["AVGL20"]))

In [48]:
def morning_star(df):
    O, C, H, L = ochl(df)
    return (df["o2"] > df["c2"]) & (5 * (df["o2"] - df["c2"]) > 3 * (df["h2"] - df["l2"])) & (df["c2"] > df["o1"]) & (2 * abs(df["o1"] - df["c1"]) < abs(df["o2"] - df["c2"])) & (df["h1"] - df["l1"] > 3 * (df["c1"] - df["o1"])) & (C > O) & (O > df["o1"]) & (O > df["c1"])

In [53]:

def evening_star(df):
    O, C, H, L = ochl(df)
    return (df["c2"] - df["o2"] >= .7 * (df["h2"] - df["l2"])) & (df["h2"] - df["l2"] >= df["AVGH10.2"] - df["AVGL10.2"]) & (df["c1"] > df["c2"]) & (df["o1"] > df["c2"]) & (H - L >= df["AVGH10"] - df["AVGL10"]) & (O - C >= .7 * (H - L)) & (O < df["o1"]) & (O < df["c1"])

In [58]:
def three_inside_up(df):
    O, C, H, L = ochl(df)
    return (10 * (df["o2"] - df["c2"]) >= 7 * (df["h2"] - df["l2"])) & ((df["h2"] - df["l2"]) >= df["AVGH10.2"] - df["AVGL10.2"]) & (df["c1"] > df["o1"]) & (df["o1"] > df["c2"]) & (df["c1"] < df["o2"]) & (5 * (df["c1"] - df["o1"]) <= 3 * (df["o2"] - df["c2"])) & (O > df["o1"]) & (O < df["c1"]) & (C > df["c1"]) & (10 * (C - O) >= 7 * (H - L))

In [60]:

def three_inside_down(df):
    O, C, H, L = ochl(df)
    return (abs(df["c2"] - df["o2"]) > .5 * (df["h1"] - df["l1"])) & (df["c2"] > df["o2"]) & (df["c1"] < df["o1"]) & (df["h1"] < df["c2"]) & (df["l1"] > df["o2"]) & (C < O) & (C < df["c1"])

In [63]:
def three_black_crows(df):
    O, C, H, L = ochl(df)
    return (df["o1"] < df["o2"]) & (df["o1"] > df["c2"]) & (O < df["o1"]) & (O > df["c1"]) & (df["c1"] < df["l2"]) & (C < df["l1"]) & (df["c2"] < 1.05 * df["l2"]) & (df["c1"] < 1.05 * df["l1"]) & (C < 1.05 * L)

In [75]:
def three_white_soldiers(df):
    O, C, H, L = ochl(df)
    return (C > df["c1"]) & (df["c1"] > df["c2"]) & (C > O) & (df["c1"] > df["o1"]) & (df["c2"] > df["o2"]) & (2 * abs(df["c2"] - df["o2"]) > df["h2"] - df["l2"]) & (2 * abs(df["c1"] - df["o1"]) > df["h1"] - df["l1"]) & (H - L > df["AVGH20"] - df["AVGL20"]) & (O > df["o1"]) & (O < df["c1"]) & (df["o1"] > df["o2"]) & (df["o1"] < df["c2"]) & (df["o2"] > df["o3"]) & (df["o2"] < df["c3"]) & (20 * C > 17 * H) & (20 * df["c1"] > 17 * df["h1"]) & (20 * df["c2"] > 17 * df["h2"])

In [77]:
df = yf.download("AAPL", start="2020-05-03", end="2020-08-06")

[*********************100%%**********************]  1 of 1 completed

In [78]:
df = df.iloc[:,:4]

In [80]:
df["open"]

0      72.292503
1      73.764999
2      75.114998
3      75.805000
4      76.410004
         ...
61     94.187500
62    102.885002
63    108.199997
64    109.132500
65    109.377502
Name: open, Length: 66, dtype: float64

In [79]:
df = df.reset_index()
df.columns = ["date", "open", "high", "low", "close"]
df

         date        open        high         low       close
0  2020-05-04   72.292503   73.422501   71.580002   73.290001
1  2020-05-05   73.764999   75.250000   73.614998   74.389999
2  2020-05-06   75.114998   75.809998   74.717499   75.157501
3  2020-05-07   75.805000   76.292503   75.492500   75.934998
4  2020-05-08   76.410004   77.587502   76.072502   77.532501
..        ...         ...         ...         ...         ...
61 2020-07-30   94.187500   96.297501   93.767502   96.190002
62 2020-07-31  102.885002  106.415001  100.824997  106.260002
63 2020-08-03  108.199997  111.637497  107.892502  108.937500
64 2020-08-04  109.132500  110.790001  108.387497  109.665001
65 2020-08-05  109.377502  110.392502  108.897499  110.062500

[66 rows x 5 columns]

In [59]:
def stoc1(df):
    O, C, H, L = ochl(df)
    return ((C-L)/(H-L))*100

In [83]:
df["stoc1"]

0     92.808696
1     47.400643
2     40.274868
3     55.311946
4     96.369615
        ...
61    95.751058
62    97.227215
63    27.903859
64    53.173855
65    77.926339
Name: stoc1, Length: 66, dtype: float64

In [82]:

df["stoc1"] = stoc1(df)

In [53]:
def min_av(df, p, entr = ["C", "H", "L", "rest"], func=["mean","min"]):
    O, C, H, L = ochl(df)
    rest = abs(O-C)
    if entr == "C" : windows = C.rolling(p)
    if entr == "L" : windows = L.rolling(p)
    if entr == "H" : windows = H.rolling(p)
    if entr == "O" : windows = O.rolling(p)
    if entr == "rest" : windows = rest.rolling(p)   
    if func == "mean": moving_averages = windows.mean()   
    if func == "min": moving_averages = windows.min()   
    moving_averages_list = moving_averages.tolist()
    final_list = moving_averages_list[p - 1:]
    rest = df.shape[0]-len(final_list)
    
    
        
    for i in range(round(rest)):
        
        final_list = [final_list[0]] + final_list

        
    return pd.Series(final_list)

In [92]:
min_av(df, 29, entr = "L", func="mean")

0          0.139644
1          0.139644
2          0.139644
3          0.139644
4          0.139644
            ...
10767    182.913794
10768    182.646208
10769    182.516898
10770    182.380001
10771    182.196898
Length: 10772, dtype: float64

In [105]:
min_avg(df, 20, entr = "L", func="mean")

0      126.468001
1      126.468001
2      126.468001
3      126.468001
4      126.468001
          ...
503    126.795499
504    126.795499
505    126.795499
506    126.795499
507    126.795499
Length: 508, dtype: float64

In [12]:
def min_avg(df, p, entr = ["C", "H", "L", "rest"], func=["mean","min"]):
    O, C, H, L = ochl(df)
    rest = abs(O-C)
    if entr == "C" : windows = C.rolling(p)
    if entr == "L" : windows = L.rolling(p)
    if entr == "H" : windows = H.rolling(p)
    if entr == "O" : windows = O.rolling(p)
    if entr == "rest" : windows = rest.rolling(p)   
    if func == "mean": moving_averages = windows.mean()   
    if func == "min": moving_averages = windows.min()   
    moving_averages_list = moving_averages.tolist()
    final_list = moving_averages_list[p - 1:]
    rest = df.shape[0]-len(final_list)
    
    if rest%2 == 0:
        
        for i in range(round(rest/2)):
            final_list.append(final_list[-1])
            final_list = [final_list[0]] + final_list
    else:
        
        for i in range(round(rest/2)+1):
            final_list.append(final_list[-1])
            if i>0:
                final_list = [final_list[0]] + final_list

        
    return pd.Series(final_list)

In [1]:
import plotly.graph_objects as go

import pandas as pd
from datetime import datetime

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/finance-charts-apple.csv')

In [ ]:
import yfinance as yf

In [12]:
df.iloc[:,1:5]

      AAPL.Open   AAPL.High    AAPL.Low  AAPL.Close
0    127.489998  128.880005  126.919998  127.830002
1    127.629997  128.779999  127.449997  128.720001
2    128.479996  129.029999  128.330002  128.449997
3    128.619995  129.500000  128.050003  129.500000
4    130.020004  133.000000  129.660004  133.000000
..          ...         ...         ...         ...
501  132.460007  132.940002  132.050003  132.119995
502  133.080002  133.820007  132.750000  133.289993
503  133.470001  135.089996  133.250000  135.020004
504  135.520004  136.270004  134.619995  135.509995
505  135.669998  135.899994  134.839996  135.350006

[506 rows x 4 columns]

In [14]:
def o_marubozu(df):
    O = df["open"]
    C = df["close"]
    H = df["high"]
    L = df["low"]
    return ((L == O) | (O == H)) & (H - L > abs(O - C)) & (abs(O - C) > 3 * df["O-C"] / 2)

In [15]:
def o1(df):
    O, C, H, L = ochl(df)
    df = O[1:]
    df[df.shape[0]+1] = df[df.shape[0]]
    df = df.reset_index(drop=True)
    return df

In [68]:
def o3(df):
    O, C, H, L = ochl(df)
    df = O[3:]
    df[df.shape[0]+1] = df[df.shape[0]]
    df[df.shape[0]+1] = df[df.shape[0]]
    df[df.shape[0]+1] = df[df.shape[0]]
    df = df.reset_index(drop=True)
    return df

In [69]:
def c3(df):
    O, C, H, L = ochl(df)
    df = C[3:]
    df[df.shape[0]+1] = df[df.shape[0]]
    df[df.shape[0]+1] = df[df.shape[0]]
    df[df.shape[0]+1] = df[df.shape[0]]
    df = df.reset_index(drop=True)
    return df

In [52]:
def offset2(column_df):
    df = column_df[2:]
    df[df.shape[0]+1] = df[df.shape[0]]
    df[df.shape[0]+1] = df[df.shape[0]]
    df = df.reset_index(drop=True)
    return df

In [45]:
def ochl2(df, p=["C", "H", "L", "O"]):
    O, C, H, L = ochl(df)
    if p == "C" : df = C[2:]
    if p == "H" : df = H[2:]
    if p == "L" : df = L[2:]
    if p == "O" : df = O[2:]
    df[df.shape[0]+1] = df[df.shape[0]]
    df[df.shape[0]+1] = df[df.shape[0]]
    df = df.reset_index(drop=True)
    return df

In [ ]:
def spinning_top(df):
    O, C, H, L = ochl(df)
    return (abs(C - O) / (H - L) < BodyThreshold) & (MAX(O, C) - L > ShadowThreshold) & (H - MIN(O, C) > ShadowThreshold)

In [16]:
def c1(df):
    O, C, H, L = ochl(df)
    df = C[1:]
    df[df.shape[0]+1] = df[df.shape[0]]
    df = df.reset_index(drop=True)
    return df

In [17]:
def h1(df):
    O, C, H, L = ochl(df)
    df = H[1:]
    df[df.shape[0]+1] = df[df.shape[0]]
    df = df.reset_index(drop=True)
    return df

In [18]:
def l1(df):
    O, C, H, L = ochl(df)
    df = L[1:]
    df[df.shape[0]+1] = df[df.shape[0]]
    df = df.reset_index(drop=True)
    return df

In [19]:
def gravestone(df):
    O = df["open"]
    C = df["close"]
    H = df["high"]
    L = df["low"]
    return ((100 * abs(O - C)) <= H - L) & (df["stoc1"] <= 5) & (H > L) & (10 * L <= 3 * df["h1"] + 7 * df["l1"]) & (H - L >= df["AVGH10"]-df["AVGL10"])

In [20]:
def dragonfly_doji(df):
    O = df["open"]
    C = df["close"]
    H = df["high"]
    L = df["low"]
    return (50 * abs(O - C) <= H - L) & (df["stoc1"] >= 70) & (H - L >= df["AVGH10"] - df["AVGL10"]) & (L == df["MINL10"])

In [21]:
def hammer(df):
    O, C, H, L = ochl(df)
    return (5 * abs(C - O) <= H - L) & (10 * abs(O - C) >= H - L) & (2 * O >= H + L) & (df["stoc1"] >= 50) & ((20 * O >= 19 * H + L) | (df["stoc1"] >= 95)) & (10 * (H - L) >= 8 * (df["AVGH10"] - df["AVGL10"])) & (L == df["MINL5"]) & (H > L)

In [22]:
def c_marubozu(df):
    O, C, H, L = ochl(df)
    return ((L == C) | (C == H)) & (H - L > abs(O - C)) & (abs(O - C) > 3 * df["O-C"] / 2)